.top_course {
	background-color: #fff;
	margin-top: 6px;

	border-radius: 10px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

.top_crs_heading {
	font-size: 16px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.9);
}
.top_crs_subheading:hover {
	background-color: #00000014;
	background-image: url("../../images/backgroundtarget.svg");
	background-repeat: no-repeat;
	background-position: right center;
}

.top_crs_inner:hover {
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}

.top_crs_subheading {
	padding: 4px 32px 4px 12px;
}
.large_text {
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.9);
	font-size: 14px;
}

.small_text {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.8);
}

.top_crs_link {
	padding: 4px 32px 4px 16px;
}

.top_crs_inner {
	font-size: 14px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
}
